.abt{
    
    color: rgb(250, 240, 255);
    background-color: rgba(69, 52, 78, 0.687);
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    border-style: solid;
}

.box{
    margin-top: 5%;
}