@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
   


.detail{
    background: rgba(21, 234, 85, 0.24);
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    width: fit-content;
    align-items: center;
    margin-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    color: rgb(109, 244, 36);
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Silkscreen', cursive;
}

.detail:hover{
    background-color: rgba(61, 255, 119, 0.398);  
    box-shadow: 0 0 20px 2px rgba(255, 37, 240, 0.838);
    
}

.align{
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.imagenDetail{
    border-radius: 5px ;
    /* padding-left: 25px; */
    margin-left: 25px;
}

h1{
    display: flex;
}